@import "nullstyle.scss";
$min_width: 800px;
body {
	min-width: $min_width;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	
}
.wrapper{
	width: 100%;
	min-width: $min_width;
	height: fit-content;
	overflow-y:visible;
	display: flex;
	flex-direction: column;
}
.header {
	border: 5px solid red;
	width: 100%;
	min-width: $min_width;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 240px;
	flex: 0 0 auto;
}
.header__banner {
	width: 100%;
	height: 200px;
	background-color: #255;
	text-align: center;
	font-size: 60px;
}
.header__menu {
	width: 75%;
	height: 40px;
	min-width: $min_width;
	margin: 20px 0px;
}
.header__menu-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header__menu-element {
}
.header__menu-link {
	font-size: 16px;
}
.main {
	flex: 1 0 auto;
	width: 100%;
	min-width: $min_width;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid yellow;
}
.my__section {
	border: 2px solid aqua;
	width: 100%;
	min-height: 400px;
	min-width: $min_width;
	display: flex;
	flex-direction: row;
}
.section__one {
}
.section__one-video-container{
}
.video-container{
	border: 5px solid black;
	height: 100%;
	width: 60%;
}
.section__one-description {
	p{
		font-size: 24px;
		text-align: justify;
		text-align-last: center;
	}
	width: 40%;
	padding: 40px 20px 0px 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add-to-cart-button {
	background-color: #4CAF50;
	color: white; 
	padding: 10px 20px;
	margin-top: 40px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}
 
.add-to-cart-button:hover {
	background-color: #45a049;
}

#color-selection-popup {
	position: fixed;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: none;
 }
 
 .color-options {
	display: flex;
	margin-top: 10px;
 }
 
 .color-option {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
 }
 
 .color-option:hover {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
 }

.section__two {
}
.section__three {
}
.footer {
	width: 100%;
	height: 240px;
	min-height: 240px;
	border: 2px solid green;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 auto;
}
.footer__logo {
	width: 100%;
	height: 200px;
	background-color: #255;
	margin-top: 20px;
	text-align: center;
	font-size: 60px;
}
.footer__contacts {
	width: 75%;
	height: 260px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	margin: 16px 0px;
}
.footer__contacts-link{
	margin: 0px 32px;
	height: 100%;
	width: 88px;
	&:nth-child(1) {
		background-image: url("../img/telegram.jpg");
	}
	&:nth-child(2) {
		background-image: url("../img/viber.jpg");
	}
	&:nth-child(3) {
		background-image: url("../img/inst.jpg");
	}
	background-repeat: no-repeat;
}
.footer__copyright {
	flex: 1 1 auto;
}