@import "nullstyle.scss";
$min_width: 800px;
body {
	width: 100vw;
	min-width: 700px;
	height: 100vh;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	
}
.wrapper{
	width: 75%;
	min-width: $min_width;
	min-height: 100vh;
	height: 200vh;
	display: flex;
	flex-direction: column;
	background-color: aqua;
}
.header {
	border-bottom: 5px solid #000;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 240px;
	flex: 0 0 auto;
}
.header__banner {
	width: 100%;
	height: 200px;
	background-color: #255;
	text-align: center;
	font-size: 60px;
}
.header__menu {
	width: 75%;
	height: 40px;
	min-width: $min_width;
	margin: 20px 0px;
}
.header__menu-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header__menu-element {
}
.header__menu-link {
	font-size: 16px;
}
.main {
	flex: 1 0 auto;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.my__sector {
	border: 2px solid red;
	width: 100%;
	flex: 1 1 auto;
}
.main__sector-one {
}
.main__sector-two {
}
.main__sector-three {
}
.footer {
	width: 100%;
	height: 240px;
	min-height: 240px;
	border: 2px solid green;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 auto;
}
.footer__logo {
	width: 100%;
	height: 200px;
	background-color: #255;
	margin-top: 20px;
	text-align: center;
	font-size: 60px;
}
.footer__contacts {
	width: 75%;
	height: 260px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	margin: 16px 0px;
}
.footer__contacts-link{
	margin: 0px 32px;
	height: 100%;
	width: 88px;
	&:nth-child(1) {
		background-image: url("/img/telegram.jpg");
	}
	&:nth-child(2) {
		background-image: url("/img/viber.jpg");
	}
	&:nth-child(3) {
		background-image: url("/img/inst.jpg");
	}
	background-repeat: no-repeat;
}
.footer__copyright {
	flex: 1 1 auto;
}